body{
background: url(../img/bg.jpg);
    font-family: "Lato";
    color: #fff;
    background-position: fixed;
}
body.rock{
background: url(../img/rk.jpg);
}
body.eletronico{
background: url(../img/el.jpg);
}
body.japan{
background: url(../img/jap.jpg);
}
#pagina{
 margin-top: 35px;   
}
.logo{
 max-width: 100%;   
}
h1{
font-size: 46px;
color: #fff;
text-shadow: 0 2px 2px #000;
}
#conteudo img{
    width: 100%;
    height: auto;
}
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.conteudo{
    display: none;
}
.well.a{
   display: none;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,.6);
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
/* Landscape phones and down */

@media (max-width: 480px) {
    .assunto:after {
        content: "Smartphone";
   }
}
/* Landscape phone to portrait tablet */

@media (max-width: 768px) and (orientation: landscape) {
    .assunto:after {
        content: "Smartphone (Paisagem)";
   }
}
@media (min-width: 481px) and (max-width: 767px){
    .assunto:after {
        content: "Smartphone";
   }
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 940px){
    .assunto:after {
        content: "Tablet";
   }
}
/* Default: 940px and up  */

@media (min-width: 941px) and (max-width: 1209px){
    .assunto:after {
        content: "Desktop";
   }
}

/* Large desktop */

@media (min-width: 1210px) {
    .assunto:after {
        content: "Desktop com tela grande";
   }
}